<!DOCTYPE html>
{% load static %}

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Wad Project | Home</title>
        <link rel="stylesheet" href="{%  static  'css/Home.css'  %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">

    <style>
      button2 {
        background-color: rgb(15, 75, 240);
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 100%;
        float: right;
        text-align: center;
        margin-left: 5px;
      }

    /* set a hover effect for the button*/
     button2:hover {
     opacity: 0.8;
    }
    </style>

    </head>


    <body>
        <header>
            <h1>BOOK STORE</h1>
        </header>
        <br>
        <br>
        <div class="search">
        <form method="post" action="/search">
        {% csrf_token %}
         <input type="text" placeholder="Search here.." name="srh">
          <button type="submit"><i class="fa fa-fw fa-search" style="font-size: 28px; padding-bottom: 7px;"></i></button>
            <a href="/logout"><button2 style=" width: 10%; background-color: blueviolet; margin-left: 5px;"><i style="color: white;"></i>Logout</button2></a>
            <a href="/cart"><button2 style=" width: 10%; background-color: #e6400e; margin-left: 5px;"><i class="fa fa-shopping-cart" style="color: white;"></i>



                My Cart <span style="color:cyan">({{request.session.cart.keys|length}})</span></button2></a>

        </form>
        </div>


        <!-- SignUp-->

        <br>
        <br>


<div class="topnav">
            <a href="{% url 'Home' %}"><i class="fa fa-fw fa-home"></i>Home</a>

            <!-- Dropdown -->
            
            <div class="dropdown">
              <button class="dropbtn"><i class="fa fa-th-large"></i>Book Categories
                <i class="fa fa-caret-down"></i>
              </button>
              <div class="dropdown-content">
                {% for category in categories %}
                    <a href="/category?category={{category.id}}">{{category.name}}</a>
                {% endfor %}
              </div>
            </div>

            <a href="{% url 'downloadbooks' %}" ><i class="fa fa-download"></i> Books for Download</a>
            <a href="#"><i class="fa fa-fw fa-truck"></i>Place order</a>
            <a href="{% url 'myaccount' %}" target="_blank"><i class="fa fa-user"></i>My account</a>
            <a href="{% url 'orders' %}" ><i class="fa fa-user"></i>My Orders</a>
            <a href="{% url 'new_releases' %}" ><i class="fa fa-book"></i>New Releases</a>

        </div>


        <br>
        <br>
        <div class="main">

            <h2>Book Categories</h2>

            <div id="myBtnContainer">
                <button class="btn active" onclick="filterSelection('all')"> Show all</button>
                {% for category in categories %}
                    <button class="btn" onclick="filterSelection('{{category.id}}')"> {{category.name}}</button>
                {% endfor %}
            </div>
            
            <!-- Portfolio Gallery Grid -->
            <div class="row">

                {% for book in main_books %}

                    <div class="column {{book.category.id}}">
                        <div class="content">
                            <a href="/bookpage?name={{book.name}}" target="_blank"><img src="{{book.image.url}}" alt="{{book.category.name}}" style="width:100%" width="400px" height="550px"></a>
                        </div>
                    </div>

               {% endfor %}

            <!-- END GRID -->
            </div>
            
            <br>
            <br>
            <!-- slideshow-->
             <h2 >New Releases</h2>

             <div class="slideshow-container" style="text-align:center">
                {% for newproduct in newproducts %}

                   <div class="mySlides fade" style="text-align:center">
                       <div class="numbertext"> {{newproduct.id_number}} / 3</div>
                       <a href="/newbookpage?name={{newproduct.name}}" target="_blank"><img src="{{newproduct.image.url}}" style="width:47%" width="400px" height="550px" ></a>
                       <br>
                       <div class="text" style="color:blue; font-size:22px" ><b>{{newproduct.name}}</b></div>
                   </div>

                {% endfor %}

             </div>
            <br>

            <div style="text-align:center">
              <span class="dot"></span>
              <span class="dot"></span>
              <span class="dot"></span>
            </div>


        <!-- END MAIN -->
        </div>



        <script>

            filterSelection("all")
            function filterSelection(c) {
              var x, i;
              x = document.getElementsByClassName("column");
              if (c == "all") c = "";
              for (i = 0; i < x.length; i++) {
                w3RemoveClass(x[i], "show");
                if (x[i].className.indexOf(c) > -1) w3AddClass(x[i], "show");
              }
            }

            function w3AddClass(element, name) {
              var i, arr1, arr2;
              arr1 = element.className.split(" ");
              arr2 = name.split(" ");
              for (i = 0; i < arr2.length; i++) {
                if (arr1.indexOf(arr2[i]) == -1) {element.className += " " + arr2[i];}
              }
            }

            function w3RemoveClass(element, name) {
              var i, arr1, arr2;
              arr1 = element.className.split(" ");
              arr2 = name.split(" ");
              for (i = 0; i < arr2.length; i++) {
                while (arr1.indexOf(arr2[i]) > -1) {
                  arr1.splice(arr1.indexOf(arr2[i]), 1);
                }
              }
              element.className = arr1.join(" ");
            }


            // Add active class to the current button (highlight it)

            var btnContainer = document.getElementById("myBtnContainer");
            var btns = btnContainer.getElementsByClassName("btn");
            for (var i = 0; i < btns.length; i++) {
              btns[i].addEventListener("click", function(){
                var current = document.getElementsByClassName("active");
                current[0].className = current[0].className.replace(" active", "");
                this.className += " active";
              });
            }


            var slideIndex = 0;
            showSlides();

            function showSlides() {
              var i;
              var slides = document.getElementsByClassName("mySlides");
              var dots = document.getElementsByClassName("dot");
              for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
              }
              slideIndex++;
              if (slideIndex > slides.length) {slideIndex = 1}
              for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active", "");
              }
              slides[slideIndex-1].style.display = "block";
              dots[slideIndex-1].className += " active";
              setTimeout(showSlides, 3000); // Change image every 3 seconds
            }

            </script>



        <br>
        <footer>
              <div class="foosec">
              <a href="#">FAQ</a>
              <a href="#">Terms of Use</a>
              <a href="#">Privacy Policy</a>
              <a href="#">Help</a>
              <a href="#">Refund Policy</a>
              </div>

        </footer>


    </body>
</html>


