<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search</title>
    <style>
        h1{
         font-family:Verdana, Geneva, Tahoma, sans-serif;
        color:Green;
        padding-left:790px;
        font-size:35px;
        }
        h2{
         font-family:Verdana, Geneva, Tahoma, sans-serif;
        color:purple;
        padding-left:790px;
        font-size:30px;
        }
        body{
        background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
        }
    </style>
</head>
<body >
<img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/2d570b07-493a-41dc-8536-4bd2afc13b4f/dabbi1q-f0958683-d6e4-47fa-ac20-aa418b563e66.png/v1/fill/w_1024,h_1366,strp/pikachu_sad__by_kithu_blaze_dabbi1q-fullview.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3siaGVpZ2h0IjoiPD0xMzY2IiwicGF0aCI6IlwvZlwvMmQ1NzBiMDctNDkzYS00MWRjLTg1MzYtNGJkMmFmYzEzYjRmXC9kYWJiaTFxLWYwOTU4NjgzLWQ2ZTQtNDdmYS1hYzIwLWFhNDE4YjU2M2U2Ni5wbmciLCJ3aWR0aCI6Ijw9MTAyNCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.sVLGvLXkHUJJnpgMykpuGMHkBtlSkcoObLsYr9-yVwI"
     style="float:left;width:550px;height:725px;padding-right:80px;">

<h1 style="padding-top:210px">OOPS!!!</h1>
<h2 >Book you are searching for is not found</h2>
<h2>Click on <a href="{% url 'Home' %}">Home</a> to go to home page and see more books</h2>
<h2>Or click here <a href="{% url 'email' %}">Home</a> to request the book</h2>
</body>
</html>

