<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Request Success</title>

     <style>

         background: url("https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.pinterest.com%2Fpin%2F524528687832787531%2F&psig=AOvVaw1vqVj8rsEQSy5ZoTgY7sqZ&ust=1620053233168000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCIj_442Iq_ACFQAAAAAdAAAAABAJ")


     </style>

</head>
<body>

<img src="https://i.pinimg.com/originals/08/f2/b5/08f2b500d9bb9e17b49fc65581080595.jpg" style="float:left;width:500px;height:500px;padding-right:80px;">




<p style="text-align:center;font-size:60px;padding-top:200px">REQUEST PLACED SUCCEESFULLY</p>
<p style="text-align:center"><a href="{% url 'Home' %}"><button style="border: none;
    outline: none;
    padding: 15px 17px;
    background-color: rgb(1, 150, 150);
    color: #f1f1f1;
    cursor: pointer;
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif;">Continue shopping</button></a></p>





</body>
</html>